<h1 class="text-center titulo color-empleado  mb-4">Empleados</h1>

<div class="text-center">
  <button type="button" (click)="abrirDialogo()" class="btn boton-empleado mb-1">
    <i class="fas fa-user-plus"></i>
    Nuevo</button>
</div>

<p-table #dt [columns]="cols" [value]="empleados" selectionMode="single" [(selection)]="empleadoElegido" datakey="id">
    <ng-template pTemplate="caption">
        <div style="text-align: right; ">
            <i class="fas fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" placeholder="Buscar en cualquier campo" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
    </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th style="background: rgb(102, 8, 48); color: white; text-align: center;" *ngFor="let col of cols">
            {{col.header}}
          </th>
      </tr>
      <tr>
          <th *ngFor="let col of cols" [ngSwitch]="col.field">
              <input style="max-width: 95%;" *ngSwitchCase="'idEmpleado'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input style="max-width: 95%;" *ngSwitchCase="'nombre'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input style="max-width: 95%;" *ngSwitchCase="'apellido'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input style="max-width: 95%;" *ngSwitchCase="'usuario'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <input style="max-width: 95%;" *ngSwitchCase="'observaciones'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              <p-dropdown *ngSwitchCase="'rol'" [options]="roles" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
              <p-dropdown *ngSwitchCase="'estado'" [options]="estados" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-empleado>
      <tr>
          <td>{{empleado.idEmpleado}}</td>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.apellido}}</td>
          <td>{{empleado.usuario}}</td>
          <td>{{empleado.rol}}</td>
          <td>{{empleado.estado}}</td>
          <td>{{empleado.observaciones}}</td>
          <td>
            <button type="button" (click)="borrar(empleado)" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
            <button type="button" (click)="actualizar(empleado)" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></button>
          </td>
      </tr>
  </ng-template>

</p-table>

<button type="button" (click)="abrirDialogo()" class="btn boton-empleado mb-1">
    <i class="fas fa-user-plus"></i>
    Nuevo</button>

<p-dialog header="Detalles" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="500">
  <div class="ui-g ui-fluid" *ngIf="empleado">

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="idEmpleado">ID</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="idEmpleado" disabled [(ngModel)]="empleado.idEmpleado" />
          </div>
      </div>

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="nombre">Nombre</label>
          </div>
          <div class="ui-g-8">
              <input pInputText pKeyFilter="alpha" id="nombre" placeholder=""  [(ngModel)]="empleado.nombre" />
          </div>
      </div>

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="apellido">Apellido</label>
          </div>
          <div class="ui-g-8">
              <input pInputText pKeyFilter="alpha" id="apellido" placeholder="" [(ngModel)]="empleado.apellido" />
          </div>
      </div>

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="usuario">Usuario</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="usuario" placeholder="" [(ngModel)]="empleado.usuario" />
          </div>
      </div>

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="contrasena">Contraseña</label>
          </div>
          <div class="ui-g-8">
              <input type="password" pPassword
              weakLabel="Contraseña débil!"
              mediumLabel="Un poco mejor"
              strongLabel="Contraseña segura!"
              promptLabel="Ingrese una contraseña"
              [pKeyFilter]="blockSpace"
              id="contrasena" placeholder="" [(ngModel)]="empleado.contrasena" />
          </div>
      </div>

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="rol">Rol</label>
          </div>
          <div class="ui-g-8">
              <p-dropdown [options]="roles" [(ngModel)]="empleado.rol"></p-dropdown>
          </div>
      </div>

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="estado">Estado</label>
          </div>
          <div class="ui-g-8">
              <p-dropdown [options]="estados" [(ngModel)]="empleado.estado"></p-dropdown>
          </div>
      </div>

      <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="observaciones">Observaciones</label>
          </div>
          <div class="ui-g-8">
              <input pInputText id="observaciones" placeholder="" [(ngModel)]="empleado.observaciones" />
          </div>
      </div>

  </div>
  <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <!-- <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button> -->
          <button type="button" class="btn boton-empleado" (click)="save()"><i class="fas fa-check"></i>Guardar</button>
      </div>
  </p-footer>
</p-dialog>

<p-toast [style]="{marginTop: '80px'}" key="nuevoEmpleado"></p-toast>

<p-toast [style]="{marginTop: '80px'}" key="cambioEmpleado"></p-toast>

<p-toast [style]="{marginTop: '80px'}" key="borraEmpleado"></p-toast>

<p-confirmDialog></p-confirmDialog>
