
.btn {
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .btn {
    margin-top: 5px;
  }
}


#empleados {
  background: #AD1457;
}

#proveedores {
  background: #8E24AA;
}

#productos {
  background: #512DA8;
}

#rubros {
  background: #304FFE;
}

#ventas {
  background: #00ACC1;
}

#compras {
  background: #2E7D32;
}

#pedidos {
  background: #FFAB00;
}
